<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>My Site - {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<div class="container">

    <div class="row">
        <header class="mb-2">
            {% from 'bootstrap5/nav.html' import render_nav_item%}
            {% from 'bootstrap5/utils.html' import render_messages %}

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <div class="navbar-nav mr-auto">
                        {{ render_nav_item('simple_pages.show', 'Index', page="index") }}
                        {{ render_nav_item('simple_pages.show','About', page="about" ) }}
                        {{ render_nav_item('simple_pages.show','Welcome', page="welcome" ) }}
                    </div>
                </div>
                <div class="navbar-nav d-flex">
                    {% if not g.user %}
                        {{ render_nav_item('auth.register','Register' ) }}
                        {{ render_nav_item('auth.login','Login' ) }}
                    {% else %}
                        {{ render_nav_item('auth.logout','Logout' ) }}
                    {% endif %}
                </div>
            </nav>
        </header>
    </div>
    <!-- Your page content -->
    <div class="row">
    {{ render_messages() }}
        {% block content %}
        {% endblock %}
    </div>
</div>

{% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
{% endblock %}
<footer class="text-center mt-5">

    Environment: {{ deployment_environment }} - Copyright: {{ year }}
    Message: {{ mymessage }} {{ format_price(100) }}
</footer>
</body>
</html>