{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
{% endblock %}
{% block content %}

    <h1>HTML Form</h1>

    <form action="/basicform" method="POST">
        <label for="value1">Value 1:</label><br>
        <input type="text" id="value1" name="value1" value="1"><br>
        <label for="value2">Value 2:</label><br>
        <input type="text" id="value2" name="value2" value="2"><br>
        <fieldset>
        <legend>Operation</legend>
          <div>
            <input type="radio" name="operation" id="addition" value="addition" checked>
            <label for="addition">addition</label>
          </div>
          <div>
            <input type="radio" name="operation" id="subtraction" value="subtraction">
            <label for="subtraction">subtraction</label>
          </div>
          <div>
            <input type="radio" name="operation" id="multiplication" value="multiplication">
            <label for="multiplication">multiplication</label>
          </div>
        </fieldset>

        <input type="submit" value="Submit">
    </form>
{% endblock %}